{{!-- Home dashboard view - using express handlebars --}}
 <div style="height: 100px">
            <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
                <header id="top-bar" class="mdl-layout__header mdl-color-text--white">
                    <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">
                        <h3>
                        <img  id="logo" src="/images/logo.png" alt="question mark logo">
                            <p id="page-title">Quiz Soft</p>
                        </h3>
                    </span>
                    <div class="mdl-layout-spacer"></div> 
                    <p id="timer-header" style="margin-right:20px">Time Remaining </p> 
                    <img  id="logo" src="/images/timer.png" alt="question mark logo">
                    <p id="timer-text" style="margin-left:20px"> mm:ss</p> 
                </header>
            </div>
        </div>

        <div>
            {{!-- Content Box to load the other views into --}}
            <main class="mdl-layout__content">
                <div class="page-content">

                <title>Quiz Soft | Quiz</title>
                <link type="text/css" rel="stylesheet" href="../css/take-quiz-page.css">

                {{!-- Container for the quiz --}}
                <div id="top-row-container">
                    <div autofocus id="dashboard-container" class="mdl-card mdl-shadow--2dp">

                        <div class="mdl-card__title mdl-color-text--white dashboard-top-bar">
                            <h2 class="mdl-card__title-text">Quiz</h2>
                        </div>

                        <div id="quiz-container">
                        <form id="test_sample" action="/discTest/{{id}}" method="post">
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            <fieldset>
                                <p>Time: {{timeLimit}} minutes</p>
                                <p>Category: {{category}}</p>
                                <p>Number of questions: {{questions.length}}</p>
                                <p>Scroll to Bottom:<a href="javascript: document.body.scrollIntoView(false);">&darr;</a></p>
                            </fieldset>
                            </div>
                            <fieldset>
                            {{#each_question questions questions.length}}
                            <fieldset>
                                <h5>Q1</h5>
                                <p>
                                    {{#if (quiz_type_expose this "mult-choice")}}
                                        <label><i>{{quiz_question_expose this}}</i></label></br>
                                        {{#each_answer this}}
                                            <input type = "radio"
                                                name = "1"
                                                id = "Q1_0"
                                                value = "0" />
                                            <label for = "Q1_0">{{this}}</label></br>
                                        {{/each_answer}}
                                    {{/if}}
                                    {{#if (quiz_type_expose this "true-false")}}
                                        <label><i>{{quiz_question_expose this}}</i></label></br>
                                            <input type = "radio"
                                                name = "1"
                                                id = "Q1_0"
                                                value = "1" />
                                            <label for = "Q1_0">True</label></br>
                                            <input type = "radio"
                                                name = "2"
                                                id = "Q1_1"
                                                value = "0" />
                                            <label for = "Q1_1">False</label></br>
                                    {{/if}}
                                    </p>
                                </fieldset>
                            {{/each_question}}

                            <fieldset>
                                <input type="submit" value="Submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored question-btn"/>
                            </fieldset>
                            <fieldset hidden>
                                <input type="hidden" name="keys_string" id="keys" value="GHIJK12345GHIJK12345BCDEF6789A6789A12345BCDEF12345GHIJKGHIJKBCDEFBCDEF6789A6789A">
                            </fieldset>
                        </form>
                        </div> 
                    </div>
                </div>

        </div>
    </main>
</div>